@model RecommendMe.Data.Entities.Article

@{
    ViewBag.Title = "Article";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<span>@Model.CreationDate</span>
<h6>@Model.PositivityRate</h6>

<div>
    <p>@Model.Description</p>
</div>

