@model RecommendMe.Data.Entities.Article

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}

<h2>Edit Article</h2>

<form asp-action="AddProcessing" asp-controller="Articles" asp-area="" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
    </div>
</form>

<a href="/home/privacy/123/12345" class="">123</a>

<a asp-action="Index" asp-controller="Home"></a>